{% include 'polls/header.html' %}

{% include 'polls/slider.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<div class="container">
  <div class="services-cards">
  <h1>Xidmətlər</h1>
  <hr>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-header text-center ">
          <h5>Analitik tədqiqatların təhlili</h5>
        </div>
        <div class="card-body">
            <div>
            <p>Pek çok araştırmanın başında Alfa (1.tip hata) 0.05 olarak kabul edilir. Yani hipotezde en fazla %5’lik bir hata öngörülmektedir.</p>

            <!-- MODAL BUTTON STARTS -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Daha ətraflı
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Regressiya analizi</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi, Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                </div>

              </div>
            </div>
          </div>
          <!--MODAL BUTTON ENDS  -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-header text-center ">
          <h5>Regresiya analizi</h5>
        </div>
        <div class="card-body">
            <div>
            <p>Pek çok araştırmanın başında Alfa (1.tip hata) 0.05 olarak kabul edilir. Yani hipotezde en fazla %5’lik bir hata öngörülmektedir.</p>

            <!-- MODAL BUTTON STARTS -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Daha ətraflı
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Regressiya analizi</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi, Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                </div>

              </div>
            </div>
          </div>
          <!--MODAL BUTTON ENDS  -->
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-header text-center ">
          <h5>Analitik tədqiqatların təhlili</h5>
        </div>
        <div class="card-body">
            <div>
            <p>Pek çok araştırmanın başında Alfa (1.tip hata) 0.05 olarak kabul edilir. Yani hipotezde en fazla %5’lik bir hata öngörülmektedir.</p>

            <!-- MODAL BUTTON STARTS -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Daha ətraflı
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Regressiya analizi</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi, Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                </div>

              </div>
            </div>
          </div>
          <!--MODAL BUTTON ENDS  -->
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-header text-center ">
          <h5>Analitik tədqiqatların təhlili</h5>
        </div>
        <div class="card-body">
            <div>
            <p>Pek çok araştırmanın başında Alfa (1.tip hata) 0.05 olarak kabul edilir. Yani hipotezde en fazla %5’lik bir hata öngörülmektedir.</p>

            <!-- MODAL BUTTON STARTS -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Daha ətraflı
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Regressiya analizi</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi, Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                </div>

              </div>
            </div>
          </div>
          <!--MODAL BUTTON ENDS  -->
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-header text-center ">
          <h5>Analitik tədqiqatların təhlili</h5>
        </div>
        <div class="card-body">
            <div>
            <p>Pek çok araştırmanın başında Alfa (1.tip hata) 0.05 olarak kabul edilir. Yani hipotezde en fazla %5’lik bir hata öngörülmektedir.</p>

            <!-- MODAL BUTTON STARTS -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Daha ətraflı
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Regressiya analizi</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi, Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                </div>

              </div>
            </div>
          </div>
          <!--MODAL BUTTON ENDS  -->
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4  col-sm-12">
      <div class="card mb-4">
        <div class="card-header text-center ">
          <h5>Analitik tədqiqatların təhlili</h5>
        </div>
        <div class="card-body">
            <div>
            <p>Pek çok araştırmanın başında Alfa (1.tip hata) 0.05 olarak kabul edilir. Yani hipotezde en fazla %5’lik bir hata öngörülmektedir.</p>

            <!-- MODAL BUTTON STARTS -->
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Daha ətraflı
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Regressiya analizi</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi, Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,  Regressiya analizi,
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                </div>

              </div>
            </div>
          </div>
          <!--MODAL BUTTON ENDS  -->
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- End of row -->
{% include 'polls/footer.html' %}





